@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600;500;400;700;300;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-image: url('../images/BackGroundImg.jpeg');
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wtsr {
    padding-top: 0rem;
    text-align: center;
    height: 250px;
}

.ipt {
    width: 787px;
    height: 40px;
    border-radius: 15px;
    border: none;
}

.right {
    padding-top: 20px;
    margin-left: 40%;
    width: 60%;
    align-items: center;
    padding-left: 4rem;
    height: 100%;
    margin-top: 40px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.lbl {
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
}

.gimg {
    height: 20px;
}

.or {
    font-weight: 600;
}

.formSignUp {
    width: 100%;
    align-items: center;
}

.form-group {
    width: 100%;
}

.form-groupcenter {
    width: 100%;
    text-align: center;
}